html {
	box-sizing: border-box;
}

:root {

}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  color: ;
  font-family: ""Montserrat"", sans-serif;
  font-weight: ;
  font-size: ;
  line-height: 1;
  background-color: ;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
