html {
  box-sizing: border-box;
}

:root {
  --text-primary: #1f2324;
  --text-secondary: #969696;
  --accent-light: #ffd230;
  --accent-dark: #1648a8;
  --active: #42516e;
  --inactive: #e5e5e5;
  --bg-contrast: #f3f3f3;
  --color-white: #fff;

  --gap: 33px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  background-color: #fff;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

dd {
  margin: 0;
}
