.product-labels {
  display: flex;
  gap: 10px;
}

.product-label {
  padding: 2px 7px;
  font-size: 12px;
  color: var(--color-white);
}

.product-label--accent-dark {
  background-color: var(--accent-dark);
}

.product-label--accent-light {
  background-color: var(--accent-light);
}
